{% load comments %}

{% get_comment_count for allGames.game object_pk as comment_count %}
  <p>{{ comment_count }} comments have been posted.</p>
  <hr >

{% for game in games %}
  {% get_comment_count for game as coumment_count %}
  <p>{{ comment_count }} comments have been posted.</p>
{% endfor %}
<hr>

{% for game in games %}
  {% render_comment_list for game %}
{% endfor %}

{% get_comment_list for allGames.game object_pk as comment_list %}
  {% for comment in comment_list %}
  <p>Posted by: {{ comment.user_name }} on {{ comment.submit_date }}</p>
  ...
  <p>Comment: {{ comment.comment }}</p>
  ...
  {% endfor %}

{% for game in games %}
{% get_comment_count for game as form %}
<p>{{ form }}</p>
<table>
  <form action="{% url 'allGames:post' %}" method="post" >
    {% csrf_token %}
    {{ form }}
      <tr>
        <td colspan="2">
          <input type="submit" name="submit" value="Post">
          <input type="submit" name="preview" value="Preview">
        </td>
      </tr>
  </form>
</table>
{% endfor %}
