{% extends "allGames/base.html" %}

{% block content %}
      <div class="row-fluid phone_banner">
        <div class="span12 hidden-phone" role="banner">
          {% load staticfiles %}
          <a href="http://cnrdn.com/BkoC" target="_blank" title="9秒开源游戏"><img alt="9秒开源游戏" height="80" src="{% static 'allGames/fakegif.png' %}" /></a>
        </div>
      </div><!--row-fluid phone_banner-->

      <br />
      <br />
      <br />
      <br />

      <h2 class="sep5">精品推荐</h2>

      <!--recommend-->
      <div class="row-fluid">
        <div class="span12">

          <div class="row-fluid feature_topics">
          {% for game in recommends %}
            <div class="view_208622 span4 feature_img">
              <a href="#"><img src="{{ game.image.url }}" alt="专栏"></a>
              <div class="sep5 span8">
                <h4><a href="/p/208622.html?vt=0" rel="twipsy" title="{{ game.name }}">{{ game.name }}</a></h4>
              </div>
            </div>
          {% endfor %}
          </div><!--row-fluid feature_topics-->

          <div class="kr_tips sep5">更多精彩,9秒开源游戏世界!<a target="_blank" href="http://www.9miao.com/"> 进入论坛</a></div>
          <h2 class="sep10">最新游戏</h2>
        </div><!--span8-->
      </div><!--row-fluid-->
      <!--/recommend-->

      <div class="row-fluid">
        <div class="span12 krContent">
      
          <!--new game-->
          {% for game in game_list.object_list %}
          <div class="row-fluid blogPost cn-startups">
            <div class="left_info pull-left hidden-phone span3">
              <div class="feature_img row-fluid">      
                <a href="{% url 'allGames:show' game.pk %}"><img alt="{{ game.name }}" height="200" src="{{ game.image.url }}" width="320" /></a>
              </div>
            </div><!--left_info pull-left hidden-phone span4-->
            <div class="right_info span9 pull-right magb30 sep-5">
              <div class="summary">    
                <h4><a href="{% url 'allGames:show' game.pk %}" data-no-turbolink="true" target="_blank" title="{{ game.name }}">{{ game.name }}</a></h4>
                <div class="post_meta sep5 muted">
                  <a href="#" target="_blank">某游戏公司</a>
                </div>
                <div class="excerpt sep-5">
                  <p>{{ game.descriptions|slice:" 150" }}...</p>
                  <div class="post_meta sep-10 muted">
                    <a class="pull-right sep-5">
                      <a title="点击阅读全文(字)" class="pull-right" href="{% url 'allGames:show' game.pk %}" >继续阅读 
                        <i class="icon-double-angle-right"></i>
                      </a>
                    </a>
                  </div>
                </div>
              </div><!--summary-->
            </div><!--right_info span8 pull-right magb30 sep-5-->
          </div><!--row-fluid blogPost cn-startups-->
          {% endfor %}
          <!--/new game-->
      
          <!--pagination-->
          <div class="row-fluid">
            <div class="span8 pull-right">
              <div class="pagination">
                <ul>
                  {% if game_list.has_previous %}
                    <li class="previous"><a href="?page={{ game_list.previous_page_number }}">前一页</a></li>
                  {% else %}
                    <li class="previous disabled"><a>前一页</a></li>
                  {% endif %}
                    {% for p in page_range %}
                      {% ifequal p game_list.number %}
                        <li class="active"><a>{{ p }}</a></li>
                      {% else %}
                        <li><a href="?page={{ p }}" title="{{ p }} page">{{ p }}</a></li>
                      {% endifequal %}
                    {% endfor %}
                  {% if game_list.has_next %}
                    <li class="next"><a href="?page={{ game_list.next_page_number }}">后一页</a></li>
                  {% else %}
                    <li class="next disabled"><a>后一页</a></li>
                  {% endif %}
                    <li class="disabled"><a>[{{ game_list.number }}/{{ game_list.paginator.num_pages }}page]</a></li>
                </ul>
              </div><!--pagination-->
            </div><!--span12-->
          </div><!--row-fluid-->
          <!--/pagination-->
      
        </div><!--span8 krContent-->
      </div><!--row-fluid-->
{% endblock %}
