{% extends "html_temp/base.html" %}
{% load comments %}
{% load paginator %}

{% block content%}
      <div class="row-fluid">
        <h1>{{ game.name }}</h1>
        {% load staticfiles %}
        {% if game.image %}
        <img class="pull-left" src="{% static game.image.url %}" alt="game image" />
        {% endif %}
        <ul class="nav nav-list">
          <li class="divider"></li>
        </ul>
        <p>{{ game.descriptions|safe }}</p>
      </div>

      {% for comment in comment_list %}
        <ul class="nav nav-list">
          <li class="divider"></li>
        </ul>

        <div class="comment">
          <p>{{ forloop.counter|page_count:comment_list.number }}楼:
          <b>{{ comment.user }}</b>&nbsp;&nbsp;&nbsp;
          发表于 {{ comment.pub_date|date:"Y-m-d H:i" }}&nbsp;&nbsp;&nbsp;
          来自: {{ request.META.REMOTE_ADDR }}</p>
        {{ comment.comment|urlizetrunc:400|linebreaks}}


          <div id="response{{forloop.counter}}" class="divforresponse" style="display:none;">
            <textarea style="width:300px;height:150px"></textarea>
            <input value="submit" type="submit" />
            <input onclick="closethis('{{forloop.counter}}')" value="close" type="button" />
          </div>
          <div>
            <a onclick="response('{{forloop.counter}}')" style="color:blue;cursor:pointer;">回复此评论</a>
          </div>


        </div>
      {% endfor %}

      {% if not comment_list %}
          <p>暂无评论</p>
      {% else %}
        <div class="pagination offset3">
          <ul>
          {% if comment_list.has_previous %}
            <li><a href="?page={{ comment_list.previous_page_number }}">前一页</a></li>
          {% else %}
            <li class="disabled"><a>前一页</a></li>
          {% endif %}
            {% for p in page_range %}
              {% ifequal p comment_list.number %}
                <li class="active"><a>{{ p }}</a></li>
              {% else %}
                <li><a href="?page={{ p }}" title="{{ p }} page">{{ p }}</a></li>
              {% endifequal %}
            {% endfor %}
          {% if comment_list.has_next %}
            <li><a href="?page={{ comment_list.next_page_number }}">后一页</a></li>
          {% else %}
            <li class="disabled"><a>后一页</a></li>
          {% endif %}
          </ul>
        </div><!--/pagination-->
      {% endif %}

      <div id="commentform">
        <h2>评论</h2>
        {% get_comment_form for game as form %}
        <form action="{% url 'allGames:post' %}" method="post">
          {% csrf_token %}
          {{ form.object_pk }}
          {{ form.content_type }}
          {{ form.timestamp }}
          {{ form.security_hash }}
          {% if user.is_authenticated %}
            <input type="hidden" name="name" value="{{ user }}" />
          {% else %}
            <p><nobr><asp:label for="id_name">姓名(必填):</label></nobr><input name="name" id="id_name" /></p>
          {% endif %}
          {% comment %}
          <p><nobr><asp:label for="id_email">邮箱(必填):</label></nobr><input name="email" id="id_email"></p>
          <p><nobr><asp:label for="id_url">网站(可选):</label></nobr><input name="url" id="id_url"></p>
          {% endcomment %}
          <p><textarea id="id_comment" style="width:450px;height:100px" row="10" cols="40" name="comment"></textarea></p>
          <p style="display:none;"><label for="id_honeypot">如果你在该字段中输入任何内容,那么你的评论就会被视为垃圾评论.</label><input type="text" name="honeypot" id="id_honeypot"></p>
          <p><input name="post" value="发表" type="submit" /></p>
          <input type="hidden" name="game_name" value="{{ game.name }}" />
          <input type="hidden" name="next" value="{{ request.path }}" />
        </form>
         
      </div>

{% endblock %}
