{% extends "allGames/base.html" %}
{% load comments %}

{% block content%}
      <div class="row-fluid">
        <h1>{{ game.name }}</h1>
        {% load staticfiles %}
        {% if game.image %}
        <img class="pull-left" src="{% static game.image.url %}" alt="game image" />
        {% endif %}
        <p class="lead">{{ game.descriptions }}</p>
      </div>

      <ul class="nav nav-list">
        <li class="divider"></li>
      </ul>

      <div class="row-fluid marketing ">
        <div class="col-lg-6">
          <h4>下载</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>推荐配置</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>最低配置</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>源码</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>

      {% for comment in comments %}
        <ul class="nav nav-list">
          <li class="divider"></li>
        </ul>

        <div class="comment">
          <p>{{ forloop.counter }}楼:
          <b>{{ comment.user }}</b>&nbsp;&nbsp;&nbsp;
          发表于 {{ comment.pub_date|date:"Y-m-d H:i" }}&nbsp;&nbsp;&nbsp;
          来自: {{ request.META.REMOTE_ADDR }}</p>
        {{ comment.comment|urlizetrunc:400|linebreaks}}
        </div>
      {% endfor %}

      <ul class="nav nav-list">
        <li class="divider"></li>
      </ul>

      <div id="commentform">
        <h2>评论</h2>
        {% get_comment_form for game as form %}
        <form action="{% url 'allGames:post' %}" method="post">
          {% csrf_token %}
          {{ form.object_pk }}
          {{ form.content_type }}
          {{ form.timestamp }}
          {{ form.security_hash }}
          <p><nobr><asp:label for="id_name">姓名(必填):</label></nobr><input name="name" id="id_name" /></p>
          <p><nobr><asp:label for="id_email">邮箱(必填):</label></nobr><input name="email" id="id_email"></p>
          <p><nobr><asp:label for="id_url">网站(可选):</label></nobr><input name="url" id="id_url"></p>
          <p><textarea id="id_comment" row="10" cols="40" name="comment"></textarea></p>
          <p style="display:none;"><label for="id_honeypot">如果你在该字段中输入任何内容,那么你的评论就会被视为垃圾评论.</label><input type="text" name="honeypot" id="id_honeypot"></p>
          <p><input name="post" value="发表" type="submit" /></p>
          <input type="hidden" name="game_name" value="{{ game.name }}" />
          <input type="hidden" name="next" value="{{ request.path }}" />
        </form>
         
      </div>

{% endblock %}
